<html>
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="/css/site.css" rel="stylesheet" type="text/css" />
    <title>Track My Stuff</title>
  </head>
  <body>
    <div id="header">
      <p><img src="/magnify_sm.png"></p>    
      <h1>Track My Stuff</h1>
      <p>A demo CRUD application written using Sinatra.</p>
      <hr/>    
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <p>Powered by <a href="http://www.sinatrarb.com/">Sinatra</a> the DSL for creating web applications in Ruby.</p>
      <p>My Blog: <a href="http://www.DavidBirtwell.com/wordpress">David Birtwell's Blog</a>
    </div>
  </body>
</html>
